:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #545050;
  --color-black-100: #1b1919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

a {
  text-decoration: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* GENERAL */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: end;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  margin-bottom: 12px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  align-items: end;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.search-form__fieldset {
  padding-bottom: 6px;
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__label-text {
  border-bottom: 1px solid transparent;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  outline: none;

  &:hover {
    .search-form__label-text {
      border-bottom-color: currentColor;
    }
  }

  &:has(:focus-visible) {
    outline: 1px solid currentColor;
    outline-offset: 3px;
  }
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-white);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-white);
  outline: none;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__submit-button {
  margin-bottom: 2px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  block-size: 298px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__accent {
  color: #545050;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__card-link {
  margin: 3px;
  display: block;
  overflow: hidden;
  color: var(--color-white);
  outline: none;


  &:focus{
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid currentColor;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
  }

  &:active {
    background-color: var(--color-gray-100);
    outline: none;
  }

}

.content__card-link_current {
  background-color: var(--color-gray-100);
}

.content__video-card {
  display: grid;
  grid-template-columns: 199px 194px;
  grid-template-rows: 103px;
  border-radius: 0;
  outline: none;
}

.content__video-card-description-container {
  padding: 2px;
}

.content__video-card-title {
  margin-bottom: 2px;
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
  word-break: break-all;
}

.content__video-card-thumbnail {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.button {
  padding: 5px 73.5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
  cursor: pointer;
  /* user-select: none;
  transition: background-color 0.3s ease-in-out; */


  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 3px;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &:active {
    background-color: var(--color-gray-100);
    outline: none;
  }

}


.more-button {
  margin: 2px;
  width: 99%;
}